<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <link rel="stylesheet" media="screen" href="../assets/css/style.css">
        </head>
        <body>
                <div id="particles-js">
                
                        <div class="text">
                                
                                <h1>Your Message was Signing with following <br>Details</h1>
                                
                                <br>
                        
                                <h2>Your IP: <b>{{.P2p_send.Host_ip}}</b><br></h2>
                               
                                <h1>Sign Verified: <b style="color:cyan">{{.Mydata.Verify_bool}}</b><br></h1>
                                <h2>Sign: <b>{{.Mydata.Sign}}</b><br></h2>
                                <h2>Group Key: <b>{{.Mydata.Gkey}}</b><br></h2>
                                
                                <!-- <form method="POST" action="/signing">
                                        <input type="submit" value="Signing" >
                                </form><br>
                                <form method="POST" action="/combine">
                                        <input type="submit" value="Combine">
                                </form> -->
                              
                               
                        </div>
                </div>
                <script src="../assets/js/particles.js"></script>
                <script src="../assets/js/app.js"></script>  
                <script src="../assets/js/ths.js"></script>  
                
        </body>
</html>