<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <link rel="stylesheet" media="screen" href="../assets/css/style.css">
        </head>
        <body>
                <div id="particles-js">
                {{if .Success}}
                        <div class="text">
                        
                                <h1>GROUP KEY: <b>{{.Mydata.GroupKey}}</b></h1><br>
                                <h2>Threshold: <b>{{.Mydata.Threshold_T}}</b><br></h2>
                                <h3>IPs:<b>{{.Mydata.IP_addresses}}</b></h3>

                                <h1>Cick The Signing Button To Initiate the <br>Signing Process</h1>
                                
                                <br>
                                <form method="POST" action="/signing">
                                        <input type="text" name="message">
                                        <input style="padding:10px" type="submit" value="Signing">
                                </form><br>
                                <!-- <form method="POST" action="/signing">
                                        <input type="submit" value="Signing" >
                                </form><br>
                                <form method="POST" action="/combine">
                                        <input type="submit" value="Combine">
                                </form> -->

                        </div>
                </div>
                <script src="../assets/js/particles.js"></script>
                <script src="../assets/js/app.js"></script>  
                <script src="../assets/js/ths.js"></script>  
                {{end}}

        </body>
</html>